test.py
test_img.png
docs/1.misc.md
record_np.py
code/detect_features.ipynb
test_bow.py

code/image/hog_imgs/
code/image/classification_imgs/
docs/9.1.md
code/test_hdr.ipynb
code/image/hdr_imgs/img_0.25.jpg
code/image/hdr_imgs/img_0.033.jpg
code/image/hdr_imgs/img_2.5.jpg
code/image/hdr_imgs/img_15.jpg
